@import '../../assets/css/tokens.css';
@import '../../assets/css/fonts.css';

.product-list {
  font-family: var(--font-family-sans-serif);
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1px;

  .product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-white);
    margin: 0;
    border-left: 6px solid var(--border-blue);
    overflow: hidden;
    font-size: var(--text-lg);

    &:first-child {
      border-radius: var(--rounded-lg) var(--rounded-lg) 0 0;
    }

    &:last-child {
      border-radius: 0 0 var(--rounded-lg) var(--rounded-lg);
    }

    &:only-child {
      border-radius: var(--rounded-lg);
    }

    span {
      font-size: var(--text-lg);
      font-weight: var(--font-semibold);
    }

    .product-card-link {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-md);
      text-decoration: none;
      color: inherit;

      @media screen and (min-width: 768px) {
        padding: var(--spacing-md) var(--spacing-xl);
      }
    }

    h4 {
      font-family: var(--font-family-sans-serif);
      color: var(--text-gray-600);
      font-weight: var(--font-medium);
      margin: 0;
    }

    .product-content {
      font-size: var(--text-md);

      @media screen and (min-width: 768px) {
        font-size: var(--text-lg);
      }
    }

    .product-value {
      display: flex;
      flex-direction: column;
      color: var(--text-gray-600);
      flex-grow: 1;
      align-items: flex-end;
      margin-right: var(--spacing-md);

      .title {
        display: none;
        font-size: var(--text-md);
        font-weight: var(--font-medium);
        color: var(--text-gray-500);
      }

      .value {
        font-size: var(--text-md);
        font-weight: var(--font-light);
      }

      @media (min-width: 768px) {

        flex-grow: 0;
        align-items: center;

        .title {
          display: block;
        }

        .value {
          font-size: var(--text-xl);
        }
      }

    }

    .product-arrow {
      color: var(--text-gray-500);
      font-size: var(--text-2xl);
      font-weight: var(--font-light);
    }

    @media (min-width: 1200px) {
      .spacer {
        display: none;
      }
    }
  }

  &.investment {
    .product-card {
      border-left-color: var(--border-green);
    }
  }
}
