@import '../assets/css/tokens.css';
@import '../assets/css/fonts.css';


.product-section {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--spacing-md);
  box-sizing: border-box;
  position: relative;

  h2 {
    font-size: var(--text-3xl);
    font-weight: var(--font-medium);
    margin-bottom: var(--spacing-md);
    color: var(--text-gray-600)
  }

  section {
    margin-bottom: var(--spacing-10);
  }

}