@import './assets/css/tokens.css';
@import './assets/css/fonts.css';

/* Global styles */
body {
  font-family: var(--font-family-sans-serif);
  font-size: var(--text-base);
  color: var(--text-gray-600);
  line-height: var(--leading-relaxed);
  background-color: var( --bg-neutral);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-serif);
}

#root {
  min-height: 100vh;
  background-color: var( --bg-neutral);
}
