@import './assets/css/tokens.css';
@import './assets/css/fonts.css';

/* Global styles */
body {
  font-family: var(--font-family-sans-serif);
  font-size: var(--text-base);
  color: var(--text-gray-600);
  line-height: var(--leading-relaxed);
  background-color: var( --bg-neutral);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--border-color);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
  border-bottom: 1px solid #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-serif);
}

#root {
  min-height: 100vh;
  background-color: var( --bg-neutral);
}
